@charset "utf-8";
* {
    margin: 0;
    padding: 0;
  }

body {
  font-size: 14px;
   font-family: "微软雅黑";
}
a {
  text-decoration: none;
  color: #000;
}
#hw{
  margin-left:5% ;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 190px;
}
.right {
  width: 520px;
  a{
    border-right:1px solid #ccc;
    padding: 0px 10px;
    font-size: 12px;
  }
}
.red {
  color: red;
}
.green {
  color: green;
}
#header {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#header,#hw {
  height: 32px;
  background: #f6f6f6;
}
#hw {
  line-height: 32px;
  font-size: 12px;
}
#hp,#hw {
  margin: 0 auto;
  width: 1200px;
}
#hp {
  height: 80px;
  background: #fff;
}
#posi {
  position: relative;
  img {
    position: absolute;
    right: 0;
    top: 0;
  }
}
#hpr {
  width: 600px;
  height: 80px;
  background: #fff;
  float: right;
  a {
    margin-top: 20px;
    display: inline-block;
    height: 42px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    &:hover {
      background: #eee;
      #one {
        display: block;
      }
    }
  }
}
#wp {
  margin: 0 auto;
  width: 1200px;
  height: 340px;
  background: #fff;
  position: relative;
}


.swiper-container {
        width: 1200px;
        height: 350px;
        margin: 0px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;    
        justify-content: center;     
        align-items: center;
    }
#one {
  border: 1px solid #185;
  padding-right: 5px;
  width: 700px;
  height: 432px;
  background: #f7f7f7;
  position: absolute;
  left: 236px;
  top: 0;
  z-index: 1;
  display: none;
  transition: 3s;
  span {
    display: inline-block;
    width: 150px;
    text-align: right;
    float: left;
  }
  p {
    width: 544px;
    float: right;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    color: #aaa;
  }
}
#one p,#one span {
  height: 48px;
  background: #f7f7f7;
  line-height: 48px;
}
#two {
  transition: 3s;
  display: none;
  border: 1px solid #185;
  width: 700px;
  height: 338px;
  background: #f7f7f7;
  position: absolute;
  left: 236px;
  top: 0;
  z-index: 1;
  span {
    display: inline-block;
    height: 40px;
    width: 116px;
    float: left;
    text-align: center;
  }
  p {
    margin-top: 20px;
    width: 620px;
    line-height: 50px;
    float: right;
  }
  a {
    margin: 5px 18px;
    float: left;
    display: inline-block;
    height: 46px;
    width: 116px;
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
  }
}
#hot {
  left: -100px;
}
#hot,#three {
  position: absolute;
}
#three {
  transition: 3s;
  border: 1px solid #185;
  padding-top: 10px;
  box-sizing: border-box;
  width: 700px;
  height: 400px;
  background: #f7f7f7;
  left: 236px;
  top: 0;
  z-index: 1;
  display: none;
  a {
    display: inline-block;
    height: 42px;
    width: 116px;
    float: left;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    line-height: 42px;
  }
}
#four {
  transition: 3s;
  display: none;
  border: 1px solid #185;
  width: 700px;
  height: 338px;
  background: #f7f7f7;
  position: absolute;
  left: 236px;
  top: 0;
  z-index: 1;
  a {
    display: inline-block;
    height: 42px;
    width: 116px;
    float: left;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    line-height: 42px;
  }
}
#wpl {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 2;
  opacity: .6;
  height: 340px;
}
#wpl,#wplm {
  width: 236px;
  background: #4d4c4b;
}
#wplm {
  display: inline-block;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 16px;
  border-bottom: 1px solid #9a9895;
  text-align: center;
  color: #fff;
  height: 85px;
  line-height: 85px;
  img {
    float: left;
  }
  span {
    margin: 0 18px;
    float: right;
  }
}
#picte {
  width: 100%;
  height: 168px;
  background: #f7f7f7;
}
#pict {
  margin: 0 auto;
  width: 1200px;
}
#pict,.pic {
  height: 168px;
  background: #fff;
}
.pic {
  float: left;
  border-right: 1px solid #f7f7f7;
  width: 299px;
}
#banner {
  width: 100%;
  height: 880px;
  background: #f7f7f7;
  position: relative;
  p {
    margin: 0 auto;
    width: 1200px;
    height: 70px;
    position: relative;
    top: 30px;
  }
  font {
    font-size: 22px;
  }
  img {
    vertical-align: middle;
  }
}
#bann {
  margin: 0 auto;
  width: 1200px;
  height: 300px;
  background: #fff;
  a {
    display: inline-block;
    float: left;
  }
}
#bann a,#bann a img {
  width: 200px;
  height: 300px;
  background: #fff;
}
#foot {
  width: 100%;
  height: 931px;
}
#fon,#foot {
  background: #fff;
}
#fon {
  margin: 0 auto;
  line-height: 80px;
  width: 1200px;
  height: 80px;
}
.fonf {
  padding-left: 14px;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  width: 140px;
  margin-right: 10px;
}
.fonf,.fontx {
  border: 1px solid #185;
}
.fontx {
  height: 38px;
  width: 470px;
}
.fonb {
  height: 40px;
  width: 120px;
  background: #185;
  border: 1px solid #185;
  vertical-align: middle;
}
#fontmm {
  margin: 0 auto;
  width: 1200px;
  height: 850px;
  border-bottom: 1px solid #ccc;
}
#fontm,#fontmm {
  background: #fff;
}
#fontm {
  width: 900px;
  height: 800px;
  float: left;
}
.fona {
  line-height: 42px;
  width: 900px;
  background: #eee;
  height: 42px;
  border: 1px solid #ccc;
  span {
    text-align: center;
    display: inline-block;
    height: 42px;
    width: 122px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
  }
}
#fbt {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-top: 6px;
}
#fbt,.frm,.frm1,.frm2,.frm3,.frm4 {
  background: #fff;
  box-sizing: border-box;
}
.frm,.frm1,.frm2,.frm3,.frm4 {
  width: 900px;
  height: 132px;
  border-bottom: 1px solid #ccc;
  padding: 21px;
}
.frm1 img,.frm2 img,.frm3 img,.frm4 img,.frm img {
  width: 90px;
  height: 90px;
  background: #fff;
  float: left;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.frm1 p,.frm2 p,.frm3 p,.frm4 p,.frm p {
  line-height: 30px;
  width: 630px;
}
.frm1 p font,.frm2 p font,.frm3 p font,.frm4 p font,.frm p font {
  width: 390px;
}
.frm1 p span,.frm2 p span,.frm3 p span,.frm4 p span,.frm p span {
  float: right;
}
.frm4 {
  border: none;
}
#fts {
  p {
    margin-top: 25px;
    text-align: center;
    width: 900px;
    span {
      padding: 12px;
      line-height: 42px;
    }
  }
}
#footr,#fts p span {
  border: 1px solid #ccc;
}
#footr {
  width: 267px;
  height: 700px;
  background: #fff;
  float: right;
  h2 {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    background: #f7f7f7;
  }
}
#footr h2,.ftr {
  border-bottom: 1px solid #ccc;
}
.ftr {
  width: 267px;
  height: 73px;
  background: #fff;
  padding-top: 20px;
  line-height: 26px;
  img {
    width: 50px;
    height: 50px;
    background: skyblue;
    border: 1px solid #ccc;
    float: left;
    margin-right: 6px;
  }
}
.box {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid red;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  float: left;
  margin: 15px;
}
#foott {
  width: 100%;
  height: 290px;
}
#foot1,#foott {
  background: #fafafa;
}
#foot1 {
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  width: 980px;
  height: 190px;
  h2 {
    font-weight: 400;
  }
}
#foot11 {
  float: left;
  margin-top: 30px;
  line-height: 30px;
  position: relative;
  padding-left: 76px;
  box-sizing: border-box;
  width: 196px;
  height: 154px;
  background: #fafafa;
  img {
    position: absolute;
    left: 24px;
    top: 22px;
  }
  a {
    display: block;
  }
}
#fgo {
  margin: 0 auto;
  margin-top: 25px;
  width: 1200px;
  height: 102px;
  background: #fafafa;
  p {
    text-align: center;
    line-height: 25px;
    font-size: 12px;
  }
}
